

                <div class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1 align-items-stretch g-4 py-5">
                    <div class="col">
                        <div class="card shadow p-3 mb-1 bg-body-tertiary rounded">
                            <div class="card-body p-4 d-flex">
                                <img src="../../../assets/download.png" width="20%" alt="">
                                <div class="ms-3">
                                    <div class="" style="font-size: large;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>
                                    <a href="" style="text-decoration: none;">Read More</a>
                                    
                                    

                                </div>
                            </div>
                            <div class="btn-toolbar justify-content-between p-3" role="toolbar">
                                <div class="d-flex">
                                    <span class="badge bg-danger mx-2" style="height: 17px;">Default</span>
                                    <div class="small text-muted mx-2">Posted Date: </div>
                                    <div class="small text-muted mx-2">Posted By: </div>
                                    <div class="small text-muted mx-2">
                                        <fa-icon style="color: blueviolet;" [icon]="view"></fa-icon>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    
           
            
            
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="accept"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Edit</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="decline"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Delete</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="edit"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Approve</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="delete"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">DisApprove</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow p-3 mb-1 bg-body-tertiary rounded">
                            <div class="card-body p-4 d-flex">
                                <img src="../../../assets/2ND NF-2.png" width="20%" alt="">
                                <div class="ms-3">
                                    <div class="" style="font-size: large;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>
                                    <a href="" style="text-decoration: none;">Read More</a>
                                    
                                    

                                </div>
                            </div>
                            <div class="btn-toolbar justify-content-between p-3" role="toolbar">
                                <div class="d-flex">
                                    <span class="badge bg-danger mx-2" style="height: 17px;">Default</span>
                                    <div class="small text-muted mx-2">Posted Date: </div>
                                    <div class="small text-muted mx-2">Posted By: </div>
                                    <div class="small text-muted mx-2">
                                        <fa-icon style="color: blueviolet;" [icon]="view"></fa-icon>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    
           
            
            
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="accept"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Edit</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="decline"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Delete</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="edit"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Approve</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="delete"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">DisApprove</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    
                    <div class="col">
                        <div class="card shadow p-3 mb-1 bg-body-tertiary rounded">
                            <div class="card-body p-4 d-flex">
                                <img src="../../../assets/DATABASE-8.png" width="20%" alt="">
                                <div class="ms-3">
                                    <div class="" style="font-size: large;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>
                                    <a href="" style="text-decoration: none;">Read More</a>
                                    
                                    

                                </div>
                            </div>
                            <div class="btn-toolbar justify-content-between p-3" role="toolbar">
                                <div class="d-flex">
                                    <span class="badge bg-danger mx-2" style="height: 17px;">Default</span>
                                    <div class="small text-muted mx-2">Posted Date: </div>
                                    <div class="small text-muted mx-2">Posted By: </div>
                                    <div class="small text-muted mx-2">
                                        <fa-icon style="color: blueviolet;" [icon]="view"></fa-icon>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    
           
            
            
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="accept"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Edit</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="decline"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Delete</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="edit"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">Approve</button> -->
                                    </div>
                                    <div class="hover">
                                        <a><fa-icon class="btn btn-text-primary" style="color: blueviolet;" type="button" [icon]="delete"></fa-icon></a>
                                        <!-- <button class="btn btn-text-primary" style="color: blueviolet;" type="button">DisApprove</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
