<!-- <mat-sidenav-container style="height: 100vh" class="container">
  <mat-sidenav class="text-light" opened="true" style="width: 20%;">
    <div class="container">
      Start
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="margin-left: 21%;">Main</mat-sidenav-content>
</mat-sidenav-container>  -->

<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="background-color: black; color: aliceblue; padding: 20px;">
    <p style="color: antiquewhite;">lorem40 lorem40 lorem40</p>
    <div>
      <p>
        Lorem, ipsum dolor.
      </p>
    </div>
  </mat-drawer>
  <mat-drawer-content style="height: 100vh; padding: 20px;">Main content</mat-drawer-content>
</mat-drawer-container> -->
<app-header></app-header>
<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>